.more-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 16px;

    padding-top: 0;

    font-size: 16px;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 15px;

        border-radius: 16px;

        border: 1px solid #dfdfdf;

        background-color: #f8f8f8;

        width: 100%;

        white-space: nowrap;

        overflow-y: auto;

        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .links {
            font-weight: 500;

            .link {
                background-color: transparent;
                border-radius: 8px;

                &:hover {
                    color: #06f;
                }
            }

            .separator {
                margin: 0 8px;
            }

            margin-right: 16px;
        }

        .copyright {
            height: 16px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            svg {
                aspect-ratio: 1087 / 56;
                height: 100%;
            }
        }
    }
}
