.more-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: 64px;

    padding: 16px;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        max-width: 100%;

        white-space: nowrap;

        overflow-y: auto;

        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .links {
            .link {
                background-color: transparent;
                border-radius: 8px;

                &:hover {
                    color: #06f;
                }
            }

            .separator {
                margin: 0 8px;
            }
        }

        .copyright {
            a {
                font-weight: 500;
                &:hover {
                    color: #06f;
                }
            }
        }
    }
}
